

@font-face {
  font-family: 'Apercu Pro';
  src: url(./assets);
  src: url(./assets?#iefix) format('embedded-opentype'),
    url(./assets/fonts/apercupro-light.woff) format('woff'),
    url(./assets/fonts/apercupro-light.ttf) format('truetype'),
    url(./assets/fonts/apercupro-light.svg#apercupro-light) format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url(./assets/fonts/apercupro-bold.eot);
  src: url(./assets/fonts/apercupro-bold.eot?#iefix) format('embedded-opentype'),
    url(./assets/fonts/apercupro-bold.woff) format('woff'),
    url(./assets/fonts/apercupro-bold.ttf) format('truetype'),
    url(./assets/fonts/apercupro-bold.svg#apercupro-bold) format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url(./assets/fonts/apercupro-regular.eot);
  src: url(./assets/fonts/apercupro-regular.eot?#iefix) format('embedded-opentype'),
    url(./assets/fonts/apercupro-regular.woff) format('woff'),
    url(./assets/fonts/apercupro-regular.ttf) format('truetype'),
    url(./assets/fonts/apercupro-regular.svg#apercupro-regular) format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url(./assets/fonts/apercupro-medium.woff) format('woff'),
    url(./assets/fonts/apercupro-medium.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: 'Apercu Pro';
}

/* Global color palette */
:root {
  --purple: #685dc5;
  --dark-purple: rgb(82, 57, 150);
  --green: #4fa16c;
  --gray-1: #535353;
  --gray-2: #6a6a6a;
  --gray-3: #dadada;
  --gray-4: #e6e6e6;
  --gray-5: #fbfbfb;
}

*::selection {
  /* Heighlight colors */
  background-color: var(--purple);
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

p {
  color: var(--gray-2);
  font-weight: 300;
  line-height: 32px;
}
