* {
  font-family: sans-serif; /* Font Family for the page is "Apercu Pro" */
}

/* Global color palette */
:root {
  --purple: #685dc5;
  --dark-purple: rgb(82, 57, 150);
  --green: #4fa16c;
  --gray-1: #535353;
  --gray-2: #6a6a6a;
  --gray-3: #dadada;
  --gray-4: #e6e6e6;
  --gray-5: #fbfbfb;
}

*::selection {
  /* Heighlight colors */
  background-color: var(--purple);
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

p {
  color: var(--gray-2);
  font-weight: 300;
  line-height: 32px;
}
