* { 
	font-family: sans-serif ; /* Font Family for the page is "Apercu Pro" */
}

/* Global color palette */

:root {
	--purple: #685DC5;
	--green: #4fa16c; 
	--gray-1: #535353;
	--gray-2: #6A6A6A;
	--gray-3: #DADADA;
	--gray-4: #E6E6E6;
	--gray-5: #FBFBFB;
  }
  

  